.main-header {
    //background-color: black;
    color: yellow;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(rgb(78, 9, 9), 0.8),
        rgba(grey, 0.8)), url(/img/vintnerize-background.jpg);

    position: relative;



    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
  }