@media screen and (max-width: 400px) {
    .menu-brands {

        font-size: 2rem;

        ul,
        li,
        a {
            font-size: 2rem;
        }
    }

}


    // X-Small devices (portrait phones, less than 576px)
    @media screen and  (max-width: 400px) {

        .section-info {
            display: flex;
        flex-direction: column !important;
        color: yellow;
    }
        
        
    

}