.manu-brands {

    position: relative;
    top: 20%;
    
    //border: solid 2px black; //Temp

    ul, li, a {
        text-decoration: none;
        list-style: none;
        color: navajowhite;
        font-size: 20px;
    }
}

.discover-arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);

    //border: solid 2px black; //Temp
}