.menu-brands {

    position: relative;
    top: 20%;

    @media screen and (max-width: 400px) {
        .menu-brands {
    
            font-size: 2rem;
    
            ul,
            li,
            a {
                font-size: 2rem;
            }
        }
    
    }
    
    //border: solid 2px black; //Temp

    ul, li, a {
        text-decoration: none;
        list-style: none;
        color: navajowhite;
        font-size: 1.6rem;
    }

}

.discover-arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: navajowhite;
    }


    //border: solid 2px black; //Temp
}

