.manu-brands {
    
    

    ul, li, a {
        text-decoration: none;
        list-style: none;
        color: navajowhite;
        font-size: 20px;
    }
}

.discover-arrow {
    padding-bottom: 10%;
}