
.section {
    height: 100vh;
    position: relative;
}

#section-pirathon {
    background-color: grey;
}
#section-gaelic {
    background-color: orange;
}
#section-lanzerac {
    background-color: green;
}
#section-lindsay {
    background-color: aquamarine;
}