.section {
    height: 100vh;
    position: relative;


}

.section-info {
    //margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-style: italic;

    // X-Small devices (portrait phones, less than 576px)
    @media (max-width: 400px) {
        & {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

    }



/*     border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 20rem 4rem rgba(rgb(60, 59, 59), .50); */


    &-cells {
        width: 50%;
        height: 90%;
        padding: 2%;
        overflow: hidden;
        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;



        h2 {
            text-align: center;
            //top: 10%;
            position: relative;
        }

        p {
            position: relative;
           // top: 30%;
            font-size: 1.5rem;
            
        }

        @media screen and (max-width: 400px) {
            & {
                width: 98%;
                max-height: 50%;
            }
        }

        border: solid 2px black; //Temp
    }



    border: solid 2px rgb(155, 8, 8); //Temp
}



#section-pirathon {
    background-color: white;

    display: flex;
    

}

#section-gaelic {
    background-color: white;
}

#section-lanzerac {
    background-color: green;
}

#section-lindsay {
    background-color: aquamarine;
}

a.read-more {

    text-decoration: none;
    font-style: italic;
    font-weight: bold;

    &:hover {
        color: red;
    }

}

div.section-info > div.section-info-cells > a > img {
        
    overflow: hidden; 
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
   
     /* 
     background-image: linear-gradient(
         to right bottom,
         rgba(rgb(49, 4, 4), 0.4),
         rgba(black, 0.9)), url(../img/Pirathon.png);
     background-repeat: no-repeat;    
     background-position: center;
     background-size: cover;*/
 } 