<header id="section-header" class="main-header">

    <div class="main-header__text-box">
        <h1>VINTNERIZE</h1>

        <h3 class="heading-primary">
            <span class="heading-primary--sub">Pty Ltd is the company behind the following iconic
                brands:</span>
        </h3>
        <div class="menu-brands">
            <ul>
                <li><a href="#section-pirathon">- Pirathon Wines -</a></li>
                <li><a href="#section-gaelic">- Gaelic Cemetery Vineyard -</a></li>
                <li><a href="#section-lanzerac">- Lanzerac Country Estate -</a></li>
                <li><a href="#section-footer">- Lindsay Wine Estate -</a></li>
            </ul>
        </div>

    </div>
    <div class="discover-arrow">

        <a href="#section-pirathon" class="btn btn--white btn--animated">Discover our brands
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
    </div>
</header>
