<header class="main-header">
    
    <div class="main-header__text-box">
        <h1 class="heading-primary">            
            <span class="heading-primary--sub">Vintnerize Pty Ltd is the company behind the following iconic brands:</span>
        </h1>
        <div class="manu-brands">
            <ul>
                <li><a href="#">Pirathon Wines</a></li>
                <li><a href="#">Gaelic Cemetery Vineyard</a></li>
                <li><a href="#">Lanzerac Country Estate</a></li>
                <li><a href="#">Lindsay Wine Estate</a></li> 
            </ul>
        </div>
            <div class="dicover-arrow">
        <a href="#section-tours" class="btn btn--white btn--animated">Discover our brands</a>
    </div>
    </div>

</header>
</header>