<section id="section-pirathon" class="section">
  <div class="section-info">
    <div class="section-info-cells">
      <h2>Pirathon</h2>
      <p>Pirathon produces a range of full bodied Shiraz (Syrah) encompassing the great flavour, texture and structure of the north-western Barossa. Pirathon is highly awarded wine brand with many medals and trophies won at wine competitions around the world.</p>
    
   </div>
   <div class="section-info-cells">
      test
   </div>
</div>
    



    <div class="discover-arrow">
        
        <a href="#section-gaelic" class="btn btn--white btn--animated">Discover our brands
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
    </div>
  </section>
<section id="section-gaelic" class="section">
    <h2>Gaelic</h2>
    <div class="discover-arrow">
        
        <a href="#section-lanzerac" class="btn btn--white btn--animated">Discover our brands
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
    </div>
  </section>
<section id="section-lanzerac" class="section">
    <h2>Lanzerac</h2>
    <div class="discover-arrow">

        <a href="#section-lindsay" class="btn btn--white btn--animated">Discover our brands
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
    </div>
  </section>
<section id="section-lindsay" class="section">
    <h2>Lindsay</h2>
    <div class="discover-arrow">

        <a href="#section-header" class="btn btn--white btn--animated">Home
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
    </div>
  </section>